<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<title>{% block title %}Welcome!{% endblock %}</title>
<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

{% block stylesheets %} {% stylesheets '@bootstrap_css' combine=true %}
<link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
{% endstylesheets %} {% endblock %} {% block javascripts %} {%
javascripts '@jquery_js' '@bootstrap_js' combine=false %}
<script src="{{ asset_url }}"></script>
{% endjavascripts %} {% endblock %}
</head>
<body>
	{% block body %}
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="brand" href="/">Imagin@tion.fr</a>
				<div class="nav-collapse collapse">
				    {% block cms_menu %} {{ knp_menu_render('topbar') }} {% endblock %}
				    <form class="navbar-form pull-right">
					<input type="text" placeholder="Email" class="span2"> <input
						type="password" placeholder="Password" class="span2">
					<button class="btn" type="submit">Sign in</button>
				</form>
				</div>
			</div>
		</div>
	</div>
	{% endblock %}
</body>
</html>
